@import "../../../styles/colors.scss";
@import "../../../styles/boarder.scss";
@import "../../../styles/spacing.scss";
@import "../../../styles/mixins.scss";
.change-password-form {
  display: flex;
  flex-direction: column;
  background-color: $background-color_2;
  border: $border-medium;
  border-radius: $border-radius;
  box-shadow: $box-shadow-focus;
  padding: $space-l;
  width: 100%;
  justify-content: center;
  @include desktop{
      width: 50%;
  }
  @include tablet {
      width: 80%;
  }
  @include mobile {
    padding: $space-s;
  }
  .form-action {
    display: flex;
    justify-content: center;
    margin-top: $space-xs;
  }
  .error-message {
    color: $color-red-50;
    margin-bottom: $space-xxs;
  }
  .error-block {
    width: 100%;
    margin-bottom: $space-xxs;
    .error-message-container {
      margin: 0;
    }
  }
}
