@import '../../../styles/boarder.scss';
@import '../../../styles/spacing.scss';
@import '../../../styles/mixins.scss';
.sign-up {
    .main-container {
        display: flex;
        justify-content: center;
    }
}
.sign-up-container {
    border: $border-medium;
    border-radius: $border-radius;
    box-shadow: $box-shadow-focus;
    min-height: 500px;
    width: 60%;
    margin-top: $space-xxl;
    margin-bottom: $space-xxl;
    @include mobile {
        width: 85%;
    }
    @include tablet {
        width: 80%;
    }
    .error-message-container{
        margin: 0 ($space-l - $space-xxs);
    }
}

.sign-up-heading {
    display: flex;
    justify-content:flex-start;
    margin: $space-xxs;
    padding: $space-xxs;
}