/* FONTS */

/* Font Stack */
$font-stack: 'acumin-pro', arial, sans-serif;
$zh-font-stack: arial, 'SimSun', '宋体', 'STSong', '华文宋体', sans-serif;
$ja-font-stack: 'Meiryo UI', 'Hiragino Kaku Gothic Pro', 'Meiryo', 'Yu Gothic', arial, sans-serif;

/* Font Display */
$font-display-swap: 'swap';

/* Font Size */
$font-size-h1: 2em;
$font-size-h2: 1.2em;
$font-size-h3: 1.1em;
$font-size-h4: 1em;
$font-size-h5: 1em;
$font-size-h6: 1em;
$font-size-body: 1em;
$font-size-small: 0.9em;
$font-size-xsmall: 0.8em;

/* Line Height */
$line-height-text: 1.625em;
$line-height-text-message: 1.6em;
$line-height-heading: 1.4em;
$line-height-button: 1.4em;

/* Font Weight */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 500;

/* Letter Spacing */
$letter-spacing-small: 0.02em;

/* Mobile */
$font-size-h1-m: 1.4em;
$font-size-small-m: 0.85em;

/* Print */
$font-size-h1-pcs: 2em;
$font-size-h2-pcs: 1.3em;
$font-size-h3-pcs: 1em;
$font-size-h4-pcs: 0.9em;
$font-size-text-pcs: 0.8em;
