@import "../../../styles/colors.scss";
@import "../../../styles/fonts.scss";
@import "../../../styles/mixins.scss";
@import "../../../styles/spacing.scss";
.details-container {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: $color-red-50;
  margin-bottom: $space-xs;
}