@import "../../../styles/spacing.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/boarder.scss";
@import "../../../styles/mixins.scss";
.account-tiles {
  flex-direction: column;
  border: $border-dark;
  border-radius: 10px;
  padding: $space-xxs;
  min-height: 200px;
  margin-left: $space-s;
  transition: 300ms;
  background: -webkit-linear-gradient(135deg, #53527ab0, #005788);
  transform-style: preserve-3d;
  transform-origin: 50% 50%;
  box-shadow: 10px 0 54px rgba(0, 0, 0, 0.55);
  font-size: 18px;
  color: $color-white;
  @include mobile {
      margin-bottom: $space-s;
      margin-left: 0;
  }
  a {
      color: $color-white;
  }
  .account-number {
    transform: translateZ(40px);
    font-family: kredit-front;
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 10px;
    z-index: 2;
    margin-bottom: $space-xxs;
    @include mobile {
      font-size: 1.25rem;
    }
    // width: calc(100% - 3.5rem);
    // text-align: center;
  }

  .account-details {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .account-bottom {
    display: flex;
    border-top: $border-dark;
    padding-top: $space-x-small;
    margin-top: $space-xl;
  }
  
  .center-box {
    border-left: $border-dark;
    border-right: $border-dark;
  }
  
  .account-category-section {
      display: flex;
      margin-bottom: $space-s;
  }
  
  .account-type-section {
      display: flex;
      flex-direction: column;
      text-align: start;
  }
}


