@import "../../../styles/spacing.scss";
@import '../../../styles/boarder.scss';
@import "../../../styles/colors.scss";
.sign-up-form {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;

  button {
    width: 100%;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: $space-m;
  }
  .form-action {
    margin-top: $space-m
  }

  .sign-in-link {
    margin-top: $space-xs;
    margin-bottom: $space-m;
  }

  .error-message {
    color: $color-red-50;
  }
}
